// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0px;    
    padding: 0px;
}

header {
    margin: 0px;    
    padding: 0px 20px 0px;
    color: #ffffff;
    background-color: #ce0000;
}

main {
    margin: 0px 0 0px;    
    padding: 0px 20px 0px;
}

h1 {
    font: 'Avenir Next', sans-serif;
}

h2 {
    color: #ce0000;
    font: 'Avenir Next';
}

article {
    
}



